html {
}

#deck {
    /* margin: 0; */
    margin: 8px 8px;
    padding: 8px;
    list-style: none;
}

.deck__card {
    border-bottom: 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center
}