@import url('./reset.css');
@import url('./form.css');
@import url('./form-flashCards.css');

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#deck {
    position: relative;
    margin: 8px 8px;
    padding: 16px 8px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#deck *[data-hide="true"] {
    display: none;
}

.deck__card {
    background-color: white;
    width: 100%;
    flex: 1 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.1);

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);

    padding: 16px;

    aspect-ratio: 3/4;
}

.cards__answer {
    display: block;
}

.form-answer {
    display: block;
}